$breakpoint-sm-min: 576px;
$breakpoint-xs-max: $breakpoint-sm-min - 1px;
$breakpoint-md-min: 768px;
$breakpoint-sm-max: $breakpoint-md-min - 1px;
$breakpoint-lg-min: 992px;
$breakpoint-md-max: $breakpoint-lg-min - 1px;
$breakpoint-xl-min: 1200px;
$breakpoint-lg-max: $breakpoint-xl-min - 1px;
$breakpoint-xxl-min: 1400px;
$breakpoint-xl-max: $breakpoint-xxl-min - 1px;

.wrapper-content__top {
  display: flex;
  margin-bottom: 30px;
  background-color: rgba(169, 167, 199, 0.761);
  padding: 20px;

  @media (max-width: $breakpoint-sm-max) {
    flex-direction: column;
  }
}

.content-right {
  flex-basis: 80%;
  padding: 0 20px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  &__title {
    font-size: 50px;
    margin-bottom: 20px;
    color: rgb(39, 51, 118);
    font-family: "Rubik Beastly";

    @media (max-width: $breakpoint-xs-max) {
      font-size: 30px;
      margin-bottom: 10px;
    }
  }
  &__subtitle {
    font-family: "Shadows Into Light";
    margin-bottom: 20px;
    font-size: 20px;
    color: rgb(26, 36, 5);
    font-family: "Caveat";
  }
  &__date {
    font-size: 30px;
    margin-bottom: 30px;
    color: rgb(70, 53, 143);

    @media (max-width: $breakpoint-xs-max) {
      font-size: 25px;
      margin-bottom: 10px;
    }
  }
  &__media_type {
    font-size: 40px;
    margin-bottom: 20px;
  }
  &__description {
    font-size: 25px;
    color: rgb(239, 233, 240);

    @media (max-width: $breakpoint-xs-max) {
      font-size: 20px;
    }
  }
  &__genres {
    margin-bottom: 10px;
    font-size: 20px;
    color: rgb(37, 52, 136);
  }
  &__country {
    margin-bottom: 10px;
    font-size: 20px;
    color: rgb(240, 225, 200);
  }
}

.conten-left {
  @media (max-width: $breakpoint-sm-max) {
    margin: 0 auto;
    margin-bottom: 15px;
  }
}
.content-left__img {
  border-radius: 10px;
  max-width: 300px;

  @media (max-width: $breakpoint-sm-max) {
    max-width: 200px;
  }
}

.carousel {
  height: 400px;
  &-title {
    margin-bottom: 20px;
    font-size: 30px;
    color: rgb(48, 4, 4);
  }
}
.companies-wrapper {
  display: flex;
}
.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.content-button {
  width: 500px;
  height: 100px;
  border-radius: 30px;
}
