* {
  font-family: "Roboto", -apple-system, system-ui, sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

$breakpoint-sm-min: 576px;
$breakpoint-xs-max: $breakpoint-sm-min - 1px;
$breakpoint-md-min: 768px;
$breakpoint-sm-max: $breakpoint-md-min - 1px;
$breakpoint-lg-min: 992px;
$breakpoint-md-max: $breakpoint-lg-min - 1px;
$breakpoint-xl-min: 1200px;
$breakpoint-lg-max: $breakpoint-xl-min - 1px;
$breakpoint-xxl-min: 1400px;
$breakpoint-xl-max: $breakpoint-xxl-min - 1px;

.app {
  min-height: 100vh;
  background-color: #8394b5;
  color: #fff;
  padding-top: 130px;
  padding-bottom: 140px;

  @media (max-width: $breakpoint-xs-max) {
    padding-top: 100px;
  }
}



.pageTitle {
  font-family: "Permanent Marker";
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-size: 4vw;
  // padding-top: 30px;
  margin-bottom: 30px;
  color: rgb(176, 228, 255);

  @media (max-width: $breakpoint-lg-max) {
    font-size: 6vw;
  }
  @media (max-width: $breakpoint-sm-max) {
    // padding-top: 80px;
  }
  @media (max-width: $breakpoint-xs-max) {
    // padding-top: 25px;
    margin-bottom: 15px;
  }
}
